<h2>Контакты:</h2>


<form action="/contacts" method="POST">
  
    
      <div class="form-group">
    <label>Ваше имя:</label>
    <input name="name" type="text" class="form-control " placeholder="Введите ваше имя" value="">
  </div>

  <div class="form-group">
    <label>Ваша почта :</label>
    <input name="mail" type="text" class="form-control " placeholder="Введите вашу почту" value="">
  </div>

  <div class="form-group">
    <label>Текс:</label>
    <input name="body" type="text" class="form-control " placeholder="Введите Текс" value="">
  </div>

  <button type="submit" class="btn btn-primary">Отправить</button>

</form>