<h5><%=@massege %></h5>

<form action='/admin' method='post' class="form-inline well"> 
Enter Login and password:
  <input type="text" name='login' placeholder="username"  > 
  <input type="password" name='password' placeholder="password" > 
  <input class="btn btn-primary btn-sm" type='submit' value='Войти'>
</form>



